@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-medium;
  }
  
  p {
    @apply font-medium;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-black;
  }
}
